<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Product Title</th>
      <th>Product Image Links</th>
      <th>prices</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>\nSparkFun GPS-RTK-SMA Breakout - ZED-F9P (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/5/3/5/2/16481-SparkFun_GPS-RTK-SMA_Breakout_-_ZED-F9P__Qwiic_-01a.jpg</td>
      <td>\n\n$274.95\n\n</td>
    </tr>
    <tr>
      <th>1</th>
      <td>\nSparkFun GPS-RTK2 Board - ZED-F9P (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/3/5/1/4/15136-SparkFun_GPS-RTK2_Board_-_ZED-F9P__Qwiic_-03.jpg</td>
      <td>\n\n$274.95\n\n</td>
    </tr>
    <tr>
      <th>2</th>
      <td>\nAlchitry Au FPGA Development Board (Xilinx Artix 7)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/5/4/0/1/16527-Alchitry_Au_FPGA_Development_Board__Xilinx_Artix_7_-03.jpg</td>
      <td>\n\n$99.95\n\n</td>
    </tr>
    <tr>
      <th>3</th>
      <td>\nSparkFun JetBot AI Kit v3.0 Powered by Jetson Nano\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/7/9/3/0/16417-SparkFun_JetBot_AI_Kit_v2.1_Powered_by_Jetson_Nano-05.jpg</td>
      <td>\n\n$249.95\n\n</td>
    </tr>
    <tr>
      <th>4</th>
      <td>\nSparkFun VR IMU Breakout - BNO080 (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/2/8/9/1/14686-Qwiic_VR_IMU_BN0080-01.jpg</td>
      <td>\n\n$34.95\n\n</td>
    </tr>
    <tr>
      <th>5</th>
      <td>\nSparkFun Inventor's Kit - v4.1\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/3/7/3/7/15267-SparkFun_Inventor_s_Kit_-_v4.1-01a.jpg</td>
      <td>\n\n$99.95\n\n</td>
    </tr>
    <tr>
      <th>6</th>
      <td>\nSparkFun Triad Spectroscopy Sensor - AS7265x (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/3/3/9/3/15050-SparkFun_Triad_Spectroscopy_Sensor_-_AS7265x__Qwiic_-01.jpg</td>
      <td>\n\n$64.95\n\n</td>
    </tr>
    <tr>
      <th>7</th>
      <td>\nmicro:bit v2 Board\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/6/3/0/7/17287-micro-bit_2.0_Board-01.jpg</td>
      <td>\n\n$15.95\n\n</td>
    </tr>
    <tr>
      <th>8</th>
      <td>\nSparkFun RTK Express\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/7/8/7/7/18019-SparkFun_RTK_Express-09.jpg</td>
      <td>\n\n$499.95\n\n</td>
    </tr>
    <tr>
      <th>9</th>
      <td>\nRaspberry Pi 4 Model B (4 GB)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/4/0/2/2/15447-Raspberry_Pi_4_Model_B__4_GB_-01.jpg</td>
      <td>\n\n$55.00\n\n</td>
    </tr>
    <tr>
      <th>10</th>
      <td>\nTeensy 4.1\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/5/6/6/3/16771-Teensy_4.1-01.jpg</td>
      <td>\n\n$26.95\n\n</td>
    </tr>
    <tr>
      <th>11</th>
      <td>\nTeensy 3.2\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/1/2/4/9/13736-01.jpg</td>
      <td>\n\n$19.80\n\n</td>
    </tr>
    <tr>
      <th>12</th>
      <td>\nSparkFun OpenLog\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/1/2/0/2/13712-SparkFun_OpenLog-01.jpg</td>
      <td>\n\n$15.50\n\n</td>
    </tr>
    <tr>
      <th>13</th>
      <td>\nRaspberry Pi Pico\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/6/9/7/2/17829-Raspberry_Pi_Pico-01.jpg</td>
      <td>\n\n$4.00\n\n</td>
    </tr>
    <tr>
      <th>14</th>
      <td>\nGNSS Multi-Band Magnetic Mount Antenna - 5m (SMA)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/3/6/1/1/15192-GNSS_Multi-band_Magnetic_Mount_Antenna_SMA_-_5m-01.jpg</td>
      <td>\n\n$67.95\n\n</td>
    </tr>
    <tr>
      <th>15</th>
      <td>\nAlchitry Au FPGA Kit\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/5/3/6/9/16497-Alchitry_Au_FPGA_Kit-01.jpg</td>
      <td>\n\n$129.95\n\n</td>
    </tr>
    <tr>
      <th>16</th>
      <td>\nSparkFun GPS-RTK Board - NEO-M8P-2 (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/3/3/2/0/15005-SparkFun_GPS-RTK__Qwiic__-_NEO-M8P-2-00.jpg</td>
      <td>\n\n$224.95\n\n</td>
    </tr>
    <tr>
      <th>17</th>
      <td>\nSparkFun JetBot AI Kit v2.1 Powered by Jetson Nano\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/5/1/5/8/16417-SparkFun_JetBot_AI_Kit_v2.1_Powered_by_Jetson_Nano-05.jpg</td>
      <td>\n\n$49.95\n\n</td>
    </tr>
    <tr>
      <th>18</th>
      <td>\nSparkFun GPS Breakout - XA1110 (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/2/3/4/0/14414-SparkFun_GPS_Breakout_-_XA1110__Qwiic_-01.jpg</td>
      <td>\n\n$9.95\n\n</td>
    </tr>
    <tr>
      <th>19</th>
      <td>\nSparkFun Load Cell Amplifier - HX711\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/1/5/1/0/13879-SparkFun_Load_Cell_Amplifier_-_HX711-01.jpg</td>
      <td>\n\n$149.95\n\n</td>
    </tr>
    <tr>
      <th>20</th>
      <td>\nSparkFun JetBot AI Kit v3.0 (Without Jetson Nano)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/7/9/3/1/18487-SparkFun_JetBot_AI_Kit_v3.0__Without_Jetson_Nano_.jpg</td>
      <td>\n\n$289.95\n\n</td>
    </tr>
    <tr>
      <th>21</th>
      <td>\nSparkFun GPS-RTK Dead Reckoning Breakout - ZED-F9R (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/5/0/5/9/16344-SparkFun_GPS-RTK_Dead_Reckoning_Breakout_-_ZED-F9R__Qwiic_-01a.jpg</td>
      <td>\n\n$49.95\n\n</td>
    </tr>
    <tr>
      <th>22</th>
      <td>\nSparkFun OpenLog Artemis\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/5/7/5/3/16832-SparkFun_OpenLog_Artemis-01.jpg</td>
      <td>\n\n$925.00\n\n</td>
    </tr>
    <tr>
      <th>23</th>
      <td>\nSparkFun Inventor's Kit Lab Pack - v4.1\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/4/0/6/7/15477-SparkFun_Inventor_s_Kit_Lab_Pack_-_v4.1-01.jpg</td>
      <td>\n\n$79.95\n\n</td>
    </tr>
    <tr>
      <th>24</th>
      <td>\nTsunami Super WAV Trigger (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/7/4/8/8/18159-SparkFun_Tsunami_Super_WAV_Trigger__Qwiic_-01.jpg</td>
      <td>\n\n$129.99\n\n</td>
    </tr>
    <tr>
      <th>25</th>
      <td>\nSparkFun 9DoF IMU Breakout - LSM9DS1\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/0/5/3/3/13284-02.jpg</td>
      <td>\n\n$92.95\n\n</td>
    </tr>
    <tr>
      <th>26</th>
      <td>\nLIDAR-Lite v3\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/1/8/4/9/14032-01.jpg</td>
      <td>\n\n$75.00\n\n</td>
    </tr>
    <tr>
      <th>27</th>
      <td>\nRaspberry Pi 3 B+ Starter Kit\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/3/8/9/7/15361-Raspberry_Pi_3_B__Starter_Kit-01.jpg</td>
      <td>\n\n$49.95\n\n</td>
    </tr>
    <tr>
      <th>28</th>
      <td>\nRaspberry Pi 4 Model B (8 GB)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/5/7/2/5/16811-Raspberry_Pi_4_Model_B__8_GB_-01.jpg</td>
      <td>\n\n$235.95\n\n</td>
    </tr>
    <tr>
      <th>29</th>
      <td>\nSparkFun GPS Breakout - ZOE-M8Q (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/3/6/1/4/15193-SparkFun_GPS_Breakout_-_U.FL__ZOE-M8__Qwiic_-01.jpg</td>
      <td>\n\n$124.95\n\n</td>
    </tr>
    <tr>
      <th>30</th>
      <td>\nSparkFun Simultaneous RFID Reader - M6E Nano\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/1/9/1/6/14066-SparkFun_Simultaneous_RFID_Reader_-_M6E_Nano-01b.jpg</td>
      <td>\n\n$69.95\n\n</td>
    </tr>
    <tr>
      <th>31</th>
      <td>\nSparkFun LTE GNSS Breakout - SARA-R5\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/7/2/6/0/18031-SparkFun_LTE_GNSS_Breakout_-_SARA-R5-01.jpg</td>
      <td>\n\n$129.95\n\n</td>
    </tr>
    <tr>
      <th>32</th>
      <td>\nSparkFun GPS Breakout - NEO-M9N, SMA (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/6/3/0/3/17285-SparkFun_GPS_Breakout_-_NEO-M9N__SMA__Qwiic_-01.jpg</td>
      <td>\n\n$55.95\n\n</td>
    </tr>
    <tr>
      <th>33</th>
      <td>\nSparkFun Inventor's Kit for RedBot\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/9/3/4/3/SIK_Shadow_Chasis.jpg</td>
      <td>\n\n$119.95\n\n</td>
    </tr>
    <tr>
      <th>34</th>
      <td>\nWAV Trigger\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/1/0/7/3/12897-02.jpg</td>
      <td>\n\n$9.95\n\n</td>
    </tr>
    <tr>
      <th>35</th>
      <td>\nSparkFun micro:climate kit for micro:bit - v3.0\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/4/9/5/2/16274-SparkFun_micro-climate_kit_for_micro-bit_-_v3.0-02.jpg</td>
      <td>\n\n$149.99\n\n</td>
    </tr>
    <tr>
      <th>36</th>
      <td>\nArduino Pro Mini 328 - 5V/16MHz\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/6/5/3/9/11113-01b.jpg</td>
      <td>\n\n$109.95\n\n</td>
    </tr>
    <tr>
      <th>37</th>
      <td>\nLIDAR-Lite v3HP\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/2/7/6/1/14599-LIDAR-Lite_v3HP-01.jpg</td>
      <td>\n\n$5.95\n\n</td>
    </tr>
    <tr>
      <th>38</th>
      <td>\nSparkFun Inventor's Kit for Arduino Uno - v4.1\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/4/2/3/9/15631-SparkFun_Inventor_s_Kit_for_Arduino_Uno_-_v4.1-02_600x600.jpg</td>
      <td>\n\n$16.95\n\n</td>
    </tr>
    <tr>
      <th>39</th>
      <td>\nSparkFun Transceiver Breakout - MAX3232\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/6/7/3/8/11189-02a.jpg</td>
      <td>\n\n$49.95\n\n</td>
    </tr>
    <tr>
      <th>40</th>
      <td>\nSparkFun 9DoF IMU Breakout - ICM-20948 (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/3/8/6/0/15335-SparkFun_9DoF_IMU_Breakout_-_ICM-20948__Qwiic_-01b.jpg</td>
      <td>\n\n$298.95\n\n</td>
    </tr>
    <tr>
      <th>41</th>
      <td>\nSparkFun 2D Barcode Scanner Breakout\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/7/4/0/7/18088-SparkFun_2D_Barcode_Scanner-06.jpg</td>
      <td>\n\n$19.95\n\n</td>
    </tr>
    <tr>
      <th>42</th>
      <td>\nAlchitry Au+ FPGA Development Board (Xilinx Artix 7)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/6/5/7/9/17514-Alchitry_Au__FPGA_Development_Board__Xilinx_Artix_7_-01.jpg</td>
      <td>\n\n$10.95\n\n</td>
    </tr>
    <tr>
      <th>43</th>
      <td>\nSparkFun XBee Explorer Serial\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/0/3/7/7/13225-01.jpg</td>
      <td>\n\n$99.00\n\n</td>
    </tr>
    <tr>
      <th>44</th>
      <td>\nSparkFun THAT 1646 OutSmarts Breakout\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/1/7/8/2/14003-01.jpg</td>
      <td>\n\n$35.00\n\n</td>
    </tr>
    <tr>
      <th>45</th>
      <td>\nNVIDIA Jetson Nano Developer Kit (V3)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/4/9/4/6/16271-NVIDIA_Jetson_Nano_Developer_Kit__V3_-01.jpg</td>
      <td>\n\n$64.95\n\n</td>
    </tr>
    <tr>
      <th>46</th>
      <td>\nRaspberry Pi 3 B+\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/2/8/2/8/14643-Raspberry_Pi_3_B_-02.jpg</td>
      <td>None</td>
    </tr>
    <tr>
      <th>47</th>
      <td>\nSparkFun GPS Breakout - NEO-M9N, U.FL (Qwiic)\n</td>
      <td>https://cdn.sparkfun.com/r/140-140/assets/parts/1/4/2/9/3/15712-SparkFun_GPS_Breakout_-_NEO-M9N__U.FL__Qwiic_-01.jpg</td>
      <td>None</td>
    </tr>
  </tbody>
</table>